* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Rubik", sans-serif;
    scroll-behavior: smooth;
    height: 2000px;
    padding-top: 60px;
    background-color: #00A8E8;
}

.dark {
    background-color: #102A43 !important;
    color: white !important;
}

.notdark {
    background-color: #10432b !important;
    color: white !important;
}

.container {
    padding-left: 10px;
    padding-right: 10px;
    margin-right: auto;
    margin-left: auto;
    background-color: #00A8E8;
}

.main-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 50px;
}

.main-heading {
    i {
        animation: color 1s infinite ease;

    }
}

.header {
    position: fixed;
    width: 100%;
    z-index: 3;
    left: 0;
    top: 0;
    padding-left: 20px;
    padding-right: 20px;
}

a {
    text-decoration: none;
}



nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    text-transform: capitalize;
}


h2 {
    color: white;
    font-size: 50px;
}

nav ul {
    display: flex;
    align-items: center;


}

nav ul li {
    list-style: none;
    padding: 15px;
    font-size: 40px;
    text-transform: capitalize;
}

button {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    border-radius: 5px;
    text-transform: capitalize;
    font-size: 40px;
    padding: 5px 15px;
    min-width: fit-content;
    cursor: pointer;
}

select:focus {
    outline: none;
}

select {
    padding: 15px;
    background-color: transparent;
    color: white;
    font-size: 40px;
    border: none;
    margin-right: 15px;
}

option {
    background-color: #00A8E8;

}

#dots {
    width: 40px;
    height: 40px;
    display: none;
    margin-top: 10px;
    position: relative;
    transition: 0.4s;
}

#dots span {
    width: 100%;
    height: 3px;
    background-color: #fff;
    display: block;
    transition: 0.4s;
    border-radius: 5px;
    position: absolute;
}


#dots span:first-child {
    top: 0px;
}

#dots span:nth-child(2) {
    top: 12px;
}

#dots span:last-child {
    top: 24px;
}

.fristspan {
    transform: rotate(45deg) translate(17px);
}

.secondspan {
    opacity: 0;
}

.lastspan {
    transform: rotate(-45deg) translate(17px);
}


.landing {
    background-color: #00A8E8;
}

.txt {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.txt {
    h2 {
        text-transform: capitalize;
        font-size: 80px;
    }
}

.txt .text-section img {
    width: 80px;
    height: 80px;
    margin: 20px;
    border-radius: 10px;
}

.me {
    .text-section {
        p {
            font-size: 35px;
        }
    }
}

.txt .text-section {
    text-align: center;
    z-index: 2;

}

.txt {
    .tech {
        display: flex;
        align-items: center;
    }
}

.txt {
    .tech {
        p {
            font-size: 50px;
            text-transform: capitalize;
        }
    }
}

.txt {
    .contact {
        p {
            font-size: 50px;
            text-transform: capitalize;
        }
    }
}

.txt {
    .contact {
        display: flex;
        align-items: center;
    }
}

.txt {
    .text-section {
        a {
            color: #D1D9E0;
            transition: 0.4s;
        }
    }
}

.txt {
    .text-section {
        a:hover {
            color: #fff;
        }
    }
}

.txt .text-section span {
    color: #f00;
}

.txt {
    .contact {
        i {
            font-size: 80px;
            margin: 0 20px 0 20px;
        }
    }
}

.txt {
    .contact {
        a:hover {
            border: none;
        }
    }

}

.landing .backball {
    width: 800px;
    height: 800px;
    background: #6e44ff;
    border-radius: 50%;
    position: absolute;
    top: -85px;
    right: 0px;
    overflow: hidden;
    animation: ball 5s infinite ease;
}

@keyframes ball {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-100px);
    }

    100% {
        transform: translateY(0);
    }
}

.txt .img-section img {
    /* width: 1000px; */
    height: 1000px;
    border-radius: 5px;
    z-index: 2;
    position: relative;
}

.txt .img-section p {
    width: 300px;
    height: 300px;
    border-top: transparent;
    border-bottom: transparent;
    border-right: 3px solid #666;
    border-left: transparent;
    border-radius: 50%;
    position: absolute;
    right: -15%;
    z-index: 0;
}


@media (max-width:1700px) {
    .txt {
        .img-section {
            img {
                width: 700px;
                height: 700px;

            }
        }
    }
}

@media (max-width:1500px) {
    .txt {
        .img-section {
            img {
                width: 500px;
                height: 500px;
            }
        }
    }

    .me {
        .box {
            width: 950px !important;
        }
    }

    .me {
        .box {
            .img-section {
                img {
                    height: 500px !important;
                }
            }
        }
    }

    .me {
        .img-section {
            span {
                height: 550px !important;
                top: -595px !important;
            }
        }
    }

    .me {
        .text-section {
            p {
                font-size: 30px;
            }
        }
    }

    .backball {
        width: 700px !important;
        height: 700px !important;
    }
}

@media (max-width:1200px) {
    .txt .img-section img {
        width: 500px;
    }

    .txt h2 {
        font-size: 65px;
    }

    .txt .tech img {
        width: 65px;
        height: 65px;
    }

    nav ul li {
        font-size: 35px;
    }

    select {
        font-size: 35px;
    }

    button {
        font-size: 35px;
    }

    .me {
        .box {
            width: 900px !important;
        }
    }

    .me {
        .img-section {
            height: 500px !important;
        }
    }

    .me {
        .box {
            .img-section {
                img {
                    height: 400px !important;
                }
            }
        }
    }

    .me {
        .img-section {
            span {
                height: 450px !important;
                top: -495px !important;
                left: -30px !important;
            }
        }
    }
}

.me {
    .text-section {
        p {
            font-size: 25px;
        }
    }
}


@media (max-width:1000px) {
    .txt .img-section img {
        width: 400px;
    }

    .txt h2 {
        font-size: 55px;
    }

    .txt .tech img {
        width: 55px;
        height: 55px;
    }

    .txt .tech p {
        font-size: 40px;
    }

    .txt .contact p {
        font-size: 40px;
    }

    .txt .contact i {
        font-size: 65px;
    }

    nav ul li {
        font-size: 30px;
    }

    select {
        font-size: 30px;
    }

    button {
        font-size: 30px;
    }

    .me {
        .text-section {
            p {
                font-size: 25px;
            }
        }
    }

    .projects {
        .box {
            display: flex;
            flex-direction: column;
        }
    }

    /* .projects {
        img {
            width: 400px !important;
            height: 250px !important;
        } */
}

.project {
    h2 {
        font-size: 35px !important;
    }
}

.project {
    p {
        font-size: 25px !important;
    }
}

.me {
    .img-section {
        height: 400px !important;
    }
}

.me {
    .box {
        width: 850px !important;
    }
}

.me {
    .box {
        .img-section {
            img {
                height: 350px !important;
            }
        }
    }
}

.me {
    .img-section {
        span {
            height: 430px !important;
            top: -466px !important;
            left: -15px !important;
        }
    }
}

.me {
    .text-section {
        p {
            font-size: 25px;
        }
    }
}


@media (max-width:875px) {

    ul {
        display: none !important;
    }

    button {
        display: none;
    }

    nav h2 {
        padding: 10px 0 0 5px;
    }


    .header {
        height: 60px;
        padding-left: 10px;
        padding-right: 10px;
    }

    #dots {
        display: block !important;
        position: absolute;
        left: calc(100% - 50px);
        top: 10px;
    }

    .img-section img {
        width: 350px;
    }

    .txt .text-section {
        font-size: 20px;
    }

    .me {
        .box {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }

    .me {
        .img-section {
            height: 400px !important;
        }
    }

    .me {
        .box {
            width: 500px !important;
        }
    }

    .me {
        .box {
            .img-section {
                img {
                    height: 350px !important;
                }
            }
        }
    }

    .me {
        .img-section {
            span {
                height: 400px !important;
                top: -450px !important;
                left: -40px !important;
            }
        }
    }

    .me {
        .text-section {
            p {
                font-size: 25px;
            }
        }
    }
}

@media (max-width:550px) {
    .me {
        h2 {
            font-size: 23px !important;
        }
    }

    .projects {
        .box {
            font-size: 25px !important;
            max-width: 380px !important;
            height: 480px !important;
        }
    }

    .projects {
        .box {
            img {
                width: 100%;
            }
        }
    }

    .project {
        h2 {
            font-size: 30px !important;
        }
    }

    /* 
    .projects {
        .project {
            p {
                font-size: ;
            }   
             }
    } */

    /* .projects {
        .box {
            width: 400px !important;
            height: 400px !important;
        }
    } */

    .projects {
        p {
            font-size: 20px !important;
        }
    }

    /* .projects {
        img {
            min-width: 350px !important;
        }
    } */

    .landing .backball {
        display: none;
    }

    nav {
        background-color: #00A8E8;
    }

    .header {
        background-color: #00A8E8;
    }

    .me {
        .box {
            max-width: 430px !important;
        }
    }

    .me {
        .img-section {
            height: 300px !important;
        }
    }

    .me {
        .box {
            .img-section {
                img {
                    height: 250px !important;
                    width: 250px !important;
                }
            }
        }
    }

    .me {
        .img-section {
            span {
                height: 300px !important;
                width: 200px !important;
                top: -350px !important;
                left: -35px !important;
            }
        }
    }

    .me {
        .text-section {
            p {
                font-size: 20px !important;
            }
        }
    }
}

@media (max-width:500px) {
    .projects {
        .box {
            width: 330px !important;
            height: 500px !important;
        }
    }

    .projects {
        .box {
            img {
                max-width: 100% !important;
            }
        }
    }

    .projects {
        .link {
            a {
                font-size: 20px !important;
            }
        }
    }

    .projects {
        .link {
            p {
                font-size: 18px !important;
            }
        }
    }
}

@media (max-width:450px) {
    .projects {
        .box {
            max-width: 300px !important;
        }
    }

    .img-section img {
        width: 300px !important;
        height: 300px !important;
    }

    .txt .text-section h2 {
        font-size: 30px !important;
    }

    .me {
        .text-section {
            p {
                font-size: 15px !important;
            }
        }
    }

    /* 
    .projects {
        img {
            width: 300px !important;
        }
    } */

    .me {
        .box {
            max-width: 350px !important;
        }
    }

    /* .me {
        .img-section {
            height: 300px !important;
        }
    }

    .me {
        .box {
            .img-section {
                img {
                    height: 250px !important;
                    width: 250px !important;
                }
            }
        }
    }

    .me {
        .img-section {
            span {
                height: 300px !important;
                width: 200px !important;
                top: -350px !important;
                left: -35px !important;
            }
        }
    }

    .me {
        .text-section {
            p {
                font-size: 20px !important;
            }
        }
    } */


    .txt .tech img {
        width: 40px;
        height: 40px;
    }

    .txt .tech p {
        font-size: 30px;
    }

    .txt .contact p {
        font-size: 30px;
    }

    .txt .contact i {
        font-size: 30px;
    }
}

@media (max-width:430px) {
    .projects {
        i {
            padding: 0 10px !important;
        }
    }

    .main-heading {
        margin: 0 auto 30px !important;
    }
}

/* @media (max-width:400px) {
    .projects {
        .box {
            width: 200px !important;
        }
    }
} */

@media (max-width:390px) {
    .me {
        .box {
            width: 300px !important;
        }
    }

    .projects {
        .link {
            a {
                font-size: 15px !important;
            }
        }
    }

    /* .projects {
        img {
            min-width: 300px !important;
        }
    } */

    .txt .tech img {
        width: 30px !important;
        height: 30px !important;
    }

    .txt .tech p {
        font-size: 25px;
    }

    .txt .contact p {
        font-size: 25px;
    }

    .txt .contact i {
        font-size: 25px;
    }



}

@media (max-width:350px) {
    .projects {
        h2 {
            font-size: 25px !important;
        }
    }

    .projects {
        .box {
            height: 450px !important;
        }
    }

    .project {
        p {
            font-size: 15px !important;
        }
    }
}

@media (max-width:320px) {
    .txt .img-section img {
        width: 250px !important;
    }

    .txt .text-section h2 {
        font-size: 25px !important;
    }

    .text-section img {
        width: 40px !important;
        height: 40px !important;
    }

    .project {
        h2 {
            font-size: 20px !important;
        }
    }

    .txt {
        .contact {
            p {
                font-size: 15px !important;
            }
        }
    }

    .txt {
        .tech {
            p {
                font-size: 15px !important;
            }
        }
    }


}



@media (max-width:270px) {
    .txt {
        .contact {
            i {
                font-size: 35px !important;
            }
        }
    }

    .text-section {
        img {
            width: 30px !important;
            height: 30px !important;
        }
    }
}

@media (max-width:875px) {

    .txt {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .txt .img-section img {
        margin: 20px 0;

    }
}

ul li a {
    color: #D1D9E0;
    transition: all 0.4s;
}

ul li a:hover {
    color: white;
    border: none;
}

.burgermenu {
    display: flex !important;
    flex-direction: column;
    position: absolute;
    top: calc(100% + 20px);
    right: 0px;
    align-items: flex-start;
    background-color: #00A8E8;
    width: 100%;
    height: 340px;
    border-radius: 5px;
    z-index: 3;
    border: 2px solid #fff;
}

@media (max-width:875px) {
    button {
        display: block;
        position: absolute;
        top: 79%;
        padding: 10px 15px;
        margin-left: 15px;
    }

    .me {
        .text-section {
            p {
                font-size: 20px;
            }
        }
    }
}

.me {
    margin: 200px 0;
}

.me {
    .text-section {
        animation: opacity 3s ease;
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



.me {
    h2 {
        text-transform: capitalize;
        text-align: center;
        padding: 20px;
        font-size: 40px;
    }
}

.me {
    .box {
        display: flex;
        align-items: center;
        margin: 0 auto;
        width: 1100px;
    }
}

.me {
    i {
        animation: color 2s infinite ease;
        padding: 10px;
    }
}

@keyframes color {
    0% {
        color: #fff
    }

    100% {
        color: #FFD700;
    }
}

.me {
    .img-section {
        height: 600px;
    }
}

.me {
    .box {
        .img-section {
            img {
                height: 600px;
                z-index: 2;
                position: relative;
                border-radius: 10px;
            }
        }
    }
}

.me {
    .box {
        .img-section {
            p {
                text-align: center;
                font-size: 25px;
                padding: 10px;
                color: #777;
                font-style: italic;
                margin-top: 20px;
            }
        }
    }
}

.me {
    .img-section {
        span {
            border: 3px solid red;
            width: 337px;
            height: 600px;
            display: block;
            position: relative;
            top: -590px;
            left: -53px;
            border-radius: 10px;
            transition: 0.4s;
            animation: 4s border ease;
        }
    }
}

.me {
    .text-section {
        p {
            text-transform: capitalize;
        }
    }
}

@keyframes border {
    0% {
        left: -1000px;
    }

    100% {
        left: -53px;
    }
}

.me {
    .box {
        .text-section {
            max-width: fit-content;
            padding: 20px;
            font-size: 30px;
        }
    }
}

.main-projects {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-radius: 15px;

}

.projects {
    .link {
        display: flex;
        justify-content: space-evenly;
        align-items: baseline;
        margin-bottom: 20px;
    }
}


.projects {
    img {
        min-width: 100%;
        height: 270px;
        padding: 10px;
        border-radius: 15px;
    }
}

.projects {
    h1 {
        text-align: center;
        text-transform: capitalize;
        font-size: 50px;
        padding: 20px;
        transition: 0.4s;
    }
}

.projects {
    i {
        padding: 0 20px;
        margin-bottom: 20px;
    }
}


.projects {
    h2 {
        text-align: center;
        text-transform: capitalize;
        font-size: 40px;
        margin-bottom: 10px;

    }
}

.project {
    h2 {
        color: black;
    }
}

.projects {
    .project {
        border-radius: 20px;
    }
}

.projects {
    .box {
        display: block;
        width: 500px;
        height: 500px;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        border-radius: 10px;
        margin-bottom: 30px;
    }
}

.projects {

    .project {
        p {
            font-size: 25px;
            text-transform: capitalize;
            text-align: center;
            padding: 10px;
            margin-bottom: 15px;
        }
    }
}


.projects {

    .project {
        a {
            padding: 10px;
            font-size: 25px;
            display: block;
            text-align: center;
            text-transform: capitalize;
            min-width: fit-content;
            border-radius: 20px;
            color: #fff;
            background-color: #00A8E8;
        }
    }
}
