* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Rubik", sans-serif;
    scroll-behavior: smooth;
    height: 2000px;
    padding-top: 60px;
    background-color: #00A8E8;
}

.container {
    padding-left: 10px;
    padding-right: 10px;
    margin-right: auto;
    margin-left: auto;
    background-color: #00A8E8;
}

.header {
    position: fixed;
    width: 100%;
    z-index: 3;
    left: 0;
    top: 0;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #00A8E8;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    border-bottom: 2px solid white;
}



nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    text-transform: capitalize;
}


h2 {
    color: white;
    font-size: 35px;
}

nav ul {
    display: flex;
    align-items: center;


}

nav ul li {
    list-style: none;
    padding: 15px;
    font-size: 30px;
    text-transform: capitalize;
}

button {
    background-color: #00A8E8;
    border: 2px solid white;
    color: white;
    border-radius: 5px;
    text-transform: capitalize;
    font-size: 30px;
    padding: 5px 15px;
    min-width: fit-content;
    cursor: pointer;
}

select:focus {
    outline: none;
}

select {
    padding: 15px;
    background-color: #00A8E8;
    color: white;
    font-size: 30px;
    border: none;
    margin-right: 15px;
}

.dark {
    background-color: #102A43 !important;
    color: white !important;
}

#dots {
    width: 40px;
    height: 40px;
    display: none;
    margin-top: 10px;
    position: relative;
    transition: 0.4s;
}

#dots span {
    width: 100%;
    height: 3px;
    background-color: #fff;
    display: block;
    transition: 0.4s;
    border-radius: 5px;
    position: absolute;
}


#dots span:first-child {
    top: 0px;
}

#dots span:nth-child(2) {
    top: 12px;
}

#dots span:last-child {
    top: 24px;
}

.fristspan {
    transform: rotate(45deg) translate(17px);
}

.secondspan {
    opacity: 0;
}

.lastspan {
    transform: rotate(-45deg) translate(17px);
}


.landing {
    background-color: #00A8E8;
}

.txt {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.txt {
    h2 {
        text-transform: capitalize;
        font-size: 50px;
    }
}

.txt .text-section img {
    width: 50px;
    height: 50px;
    margin: 20px;
    border-radius: 10px;
}

.txt .text-section {
    text-align: center;
}

.txt .text-section span {
    color: #f00;
}

.txt {
    .contact {
        i {
            font-size: 50px;
            margin: 0 20px 20px 20px;
        }
    }
}

.txt {
    .contact {
        a:hover {
            border: none;
        }
    }

}

.img-section img {
    width: 600px;
    border-radius: 5px;
    z-index: 2;
    position: relative;
}

.txt .img-section p {
    width: 300px;
    height: 300px;
    border-top: transparent;
    border-bottom: transparent;
    border-right: 3px solid #666;
    border-left: transparent;
    border-radius: 50%;
    position: absolute;
    right: -15%;
    z-index: 0;
}


.dark {
    background-color: #102A43 !important;
    color: #fff !important;
}

@media (max-width:1200px) {
    .txt .img-section img {
        width: 500px;
    }
}

@media (max-width:1000px) {
    .txt .img-section img {
        width: 400px;
    }

    .txt h2 {
        font-size: 40px;
    }
}

@media (max-width:820px) {

    ul {
        display: none !important;
    }

    button {
        display: none;
    }

    nav h2 {
        padding: 10px 0 0 5px;
    }

    .header {
        height: 60px;
        padding-left: 10px;
    }

    #dots {
        display: block !important;
        position: absolute;
        left: calc(100% - 35px);
        top: 10px;
    }

    .img-section img {
        width: 350px;
    }

    .txt .text-section {
        font-size: 20px;
    }
}

@media (max-width:450px) {
    .img-section img {
        width: 300px !important;
    }

    .txt .text-section h2 {
        font-size: 30px !important;
    }
}

@media (max-width:300px) {
    .txt .img-section img {
        width: 250px !important;
    }

    .txt .text-section h2 {
        font-size: 25px !important;
    }

    .text-section img {
        width: 40px !important;
        height: 40px !important;
    }
}

@media (max-width:270px) {
    .txt {
        .contact {
            i {
                font-size: 35px !important;
            }
        }
    }

    .text-section {
        img {
            width: 30px !important;
            height: 30px !important;
        }
    }
}

@media (max-width:820px) {

    .txt {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .txt .img-section img {
        margin: 20px 0;

    }
}

a {
    color: #D1D9E0;
    transition: all 0.4s;
}

a:hover {
    color: white;
    border: none;
}

.burgermenu {

    display: flex !important;
    flex-direction: column;
    position: absolute;
    top: calc(100% + 20px);
    right: -5px;
    align-items: flex-start;
    background-color: #00A8E8;
    width: 100%;
    height: 340px;
    border-radius: 5px;
    z-index: 3;
    border: 2px solid #fff;

}

@media (max-width:820px) {
    /* nav:hover ul {
        display: flex !important;
        flex-direction: column;
        position: absolute;
        top: calc(100% + 20px);
        right: -5px;
        align-items: flex-start;
        background-color: #00A8E8;
        width: 100%;
        height: 340px;
        border-radius: 5px;
        z-index: 3;
        border: 2px solid #fff;
    } */

    button {
        display: block;
        position: absolute;
        top: 78%;
        padding: 10px 15px;
        margin-left: 15px;
    }
}

.me {
    margin: 50px 0;
}

.me {
    .box {
        display: flex;
        justify-content: space-evenly;
    }
}

.me {
    .box {
        .img-section {
            img {
                width: 300px;
                height: 300px;
            }
        }
    }
}

.me {
    .box {
        .img-section {
            p {
                text-align: center;
                font-size: 25px;
                padding: 10px;
                color: #777;
                font-style: italic;
            }
        }
    }
}

.me {
    .box {
        .text-section {
            width: 400px;
            font-size: 30px;
        }
    }
}

.skill {
    background-color: #00A8E8;
    position: relative;
    width: 100%;
    height: 300px;
    margin-top: 20px;
}
