* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Rubik", sans-serif;
    scroll-behavior: smooth;
}

.container {
    padding-left: 30px;
    padding-right: 30px;
    margin-right: auto;
    margin-left: auto;
    background-color: #00171F;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
    position: fixed;
    width: calc(100% - 60px);
}

.container nav {
    display: flex;
    align-items: center;
    color: white;
    font-size: 35px;
}


h2 {
    color: white;
}

.container nav ul {
    display: flex;
}

.container nav ul li {
    list-style: none;
    padding: 10px;
    margin: 5px;
    text-transform: capitalize;
    cursor: pointer;
}

button {
    background-color: rgba(0, 168, 232, 0.5);
    border: 2px solid white;
    color: white;
    border-radius: 5px;
    text-transform: capitalize;
    font-size: 20px;
    padding: 10px 20px;
    min-width: fit-content;
    transition: 0.4s;
    min-width: fit-content;
}

#dots {
    width: 40px;
    height: 40px;
    display: none;
    margin-top: 10px;
    position: relative;
    transition: 0.4s;
}

#dots span {
    width: 100%;
    height: 3px;
    background-color: #fff;
    display: block;
    transition: 0.4s;
    border-radius: 5px;
    position: absolute;
}


#dots span:first-child {
    top: 0px;
}

#dots span:nth-child(2) {
    top: 12px;
}

#dots span:last-child {
    top: 24px;
}

#dots:hover span:first-child {
    transform: rotate(45deg) translate(17px);
}

#dots:hover span:nth-child(2) {
    opacity: 0;
}

#dots:hover span:last-child {
    transform: rotate(-45deg) translate(17px);
}

.container nav select {
    background-color: #00171f;
    color: white;
    border: none;
    text-transform: capitalize;
    margin-left: 15px;
    font-size: 15px;
    outline: none;
}

.landing {
    width: 100%;
    height: 100vh;
    background-color: #00A8E8;
    transition: 0.4s;
}

#particles-js {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.landing .kill {
    position: absolute;
    top: 70%;
    left: 25%;
}

.black {
    background-color: black;
    color: white;
    transition: 0.4s;
}

@media (max-width:850px) {
    nav ul {
        font-size: 25px;
    }

    button {
        padding: 10px 15px;
        font-size: 16px;
    }


}

@media (max-width:680px) {
    ul {
        display: none !important;
    }

    #dots {
        display: block !important;
    }
}

@media (max-width:680px) {
    nav:hover ul {
        display: flex !important;
        flex-direction: column;
        position: absolute;
        left: -15px;
        top: 45px;
    }

}
