* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --main-background-color: #00A8E8;
    --secondary-background-color: #6e44ff;
    --main-darkmode-color: #102A43;
    --secondary-darkmode-color: #353a3a;
}

body {
    font-family: "Rubik", sans-serif;
    height: 2000px;
    padding-top: 60px;
    background-color: var(--main-background-color);
}

/* components */
a {
    text-decoration: none;
}


/* darkmode */
.dark {
    background-color: var(--main-darkmode-color) !important;
    color: white !important;
}

.darkpurple {
    background-color: var(--secondary-background-color) !important;
    color: white !important;
}

.notdark {
    background-color: var(--secondary-darkmode-color) !important;
    color: white !important;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

/* darkmode 2nd */
.container {
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;
}

/* components starts*/


/* main-heading starts */

.main-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 20px;

    h2 {
        margin-top: 40px;
    }

    i {
        animation: color 2s infinite ease;
        margin: 35px 10px 0;
        font-size: 30px;
    }
}


/* main-heading ends */

@keyframes color {
    0% {
        color: #fff;
    }

    100% {
        color: yellow;
    }
}

/* main-heading ends */

/* components */


/* burgermenu */


#dots {
    width: 40px;
    height: 40px;
    display: none;
    margin-top: 10px;
    transition: 0.4s;

    span {
        width: 40px;
        height: 3px;
        background-color: #fff;
        display: block;
        transition: 0.4s;
        border-radius: 5px;
        position: absolute;
    }
}



#dots span:first-child {
    margin-top: 0px;
}

#dots span:nth-child(2) {
    margin-top: 12px;
}

#dots span:last-child {
    margin-top: 24px;
}

.fristspan {
    transform: rotate(45deg) translate(17px);
}

.secondspan {
    opacity: 0;
}

.lastspan {
    transform: rotate(-45deg) translate(17px);
}

.burgermenu {
    display: flex !important;
    flex-direction: column;
    position: absolute;
    top: calc(100% + 20px);
    right: 0px;
    align-items: flex-start !important;
    background-color: var(--main-background-color);
    width: 100%;
    height: 350px;
    border-radius: 5px;
    z-index: 3;
    border: 2px solid #fff;
}


/* burgermenu */

/* components ends*/

/* start header */


.header {
    position: fixed;
    width: 100%;
    z-index: 3;
    left: 0;
    top: 0;
    padding-left: 20px;
    padding-right: 20px;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        text-transform: capitalize;

        .a {
            font-size: 50px;
            letter-spacing: -10px;
        }

        .m {
            font-size: 50px;
            letter-spacing: -10px;
        }

        ul {
            display: flex;
            align-items: center;

            li {
                list-style: none;
                padding: 15px;
                font-size: 30px;
                text-transform: capitalize;

                a {
                    color: #dddddd;
                    transition: all 0.4s;

                }

                & a:hover {
                    letter-spacing: 3px;
                    color: white;
                }
            }
        }

        select {
            padding: 15px;
            background-color: transparent;
            color: white;
            font-size: 30px;
            border: none;
            margin: 0 15px;


            option {
                color: black;
                padding: 19px;

            }
        }

        select:focus {
            outline: none;
        }


        .background {
            display: flex;
            justify-content: space-around;
            align-items: center;
            position: relative;
            width: 100px;
            height: 50px;
            background-color: var(--secondary-background-color);
            margin-left: 10px;
            border: 2px solid #fff;
            border-radius: 30px;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            -ms-border-radius: 30px;
            -o-border-radius: 30px;
            transition: 0.4s;
            -webkit-transition: 0.4s;
            -moz-transition: 0.4s;
            -ms-transition: 0.4s;
            -o-transition: 0.4s;

            .ball {
                position: absolute;
                top: 5px;
                left: 54px;
                width: 36px;
                height: 36px;
                background-color: #fff;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                transition: 0.5s;
                -webkit-transition: 0.5s;
                -moz-transition: 0.5s;
                -ms-transition: 0.5s;
                -o-transition: 0.5s;
            }

            .ball-dark {
                position: absolute;
                top: 5px;
                left: 6px;
            }
        }
    }
}

h2 {
    color: white;
    font-size: 50px;
    text-transform: capitalize;
}


.spesial-text {
    animation: fade linear both;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
    -webkit-animation: fade linear both;
}

@keyframes left {
    from {
        opacity: 0.4;
        transform: translateX(-200px);
        -webkit-transform: translateX(-200px);
        -moz-transform: translateX(-200px);
        -ms-transform: translateX(-200px);
        -o-transform: translateX(-200px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
}





/* end header */

/* start landing */

.landing {
    background-color: var(--main-background-color);

    .backball {
        width: 800px;
        height: 800px;
        background-color: var(--secondary-background-color);
        border-radius: 50%;
        position: absolute;
        top: -85px;
        right: 0px;
        overflow: hidden;
        animation: ball 5s infinite ease;
    }

    .txt {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 100px;
        margin-bottom: 100px;

        .img-section {
            img {
                height: 1000px;
                object-fit: cover;
                border-radius: 5px;
                z-index: 2;
                position: relative;
            }
        }

        h2 {
            text-transform: capitalize;
            font-size: 80px;
        }

        .text-section {
            text-align: center;
            z-index: 2;
        }

        .tech {
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 80px;
                height: 80px;
                margin: 10px;
                border-radius: 10px;
            }

        }
    }
}



@keyframes ball {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-100px);
    }

    100% {
        transform: translateY(0);
    }
}

/* landing ends */

/* about me starts */



.me {
    margin-top: 100px;
    margin-bottom: 100px;
    animation: left linear both;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;

    .box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        padding: 40px;
        gap: 20px;

        .img-section {
            text-align: center;
            width: 500px;
            height: 500px;

            img {
                min-width: 100%;
                height: 100%;
                border-radius: 42px;
                object-fit: cover;
                animation: Left linear both;
                animation-timeline: view();
                animation-range: entry 0 cover 40%;
                -webkit-animation: Left linear both;
}
        }

        .text-section {
            width: 500px;

            p {
                font-size: 27px;
                text-align: center;
                color: white;
                text-wrap: balance;
            }
        }
    }
}

/* about me ends */


/* projects starts */


.projects {
    animation: left linear both;
    animation-range: entry 0 cover 40%;
    animation-timeline: view();

    .projects-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;

        h2 {
            font-size: 23px;
            padding: 10px;
            text-align: center;
        }

        .project {
            width: 400px;
            background-color: var(--secondary-background-color);
            border-radius: 10px;
            animation: left linear both;
            animation-timeline: view();
            animation-range: entry 0 cover 40%;

            .text-section {
                margin-top: 20px;
                text-align: center;
                gap: 30px;
                display: grid;
                padding: 15px;
            }

            img {
                width: 100%;
                height: 300px;
                padding: 0 10px;
                border-radius: 15px;
                -webkit-border-radius: 15px;
                -moz-border-radius: 15px;
                -ms-border-radius: 15px;
                -o-border-radius: 15px;
            }

            .link {
                display: flex;
                justify-content: center;
                gap: 20px;

                a {
                    border: 2px solid white;
                    padding: 10px 20px;
                    background-color: var(--secondary-background-color);
                    border-radius: 10px;
                    color: white;
                    font-size: 17px;
                    transition: 0.3s;
                    width: 100%;

                    a:hover {
                        filter: drop-shadow(0 0 10px white);
                    }
                }
            }
        }
    }
}

/* projects ends */


/* contacts starts */


.contacts {
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
    animation: left linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 20%;

    .form {
        display: flex;
        justify-content: center;
        gap: 50px;
        animation: fade linear both;
        animation-timeline: view();
        animation-range: entry 20% cover 30%;

        .text-section {
            h2 {
                text-transform: capitalize;
                padding: 20px 0;
            }
        }

        .contact {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 50px;

            p {
                font-size: 20px;
                color: white;
            }
        }

        .text-section {
            border: 5px solid white;
            padding: 30px;
            border-radius: 5px;
            width: 380px;

            img {
                width: 120px !important;
                object-fit: contain;
            }

            .cv {
                background-color: var(--secondary-background-color);
                color: white;
                padding: 15px 25px;
                border: 2px solid white;
                border-radius: 5px;
                width: 100%;
                text-align: center;
                font-size: 25px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
            }

            hr {
                width: 100%;
                color: white;
                border: 3px solid white;
                border-radius: 10px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                -ms-border-radius: 10px;
                -o-border-radius: 10px;
            }

        }

        button {
            background-color: var(--secondary-background-color);
            border: 2px solid white;
            color: white;
            border-radius: 5px;
            text-transform: capitalize;
            font-size: 40px;
            padding: 5px 15px;
            min-width: 100%;
            cursor: pointer;
        }

        .input {
            display: flex;
            flex-direction: column;
            border: 5px solid var(--secondary-background-color);
            padding: 30px 15px;
            gap: 20px;
            width: 380px;
            border-radius: 5px;

            input {
                width: 100%;
                padding: 10px;
                border-radius: 5px;
                border: none;
                font-size: 20px;

                &:focus {
                    outline: none;
                }
            }

            label {
                font-size: 23px;
                color: white;
            }

            textarea {
                padding: 10px;
                border-radius: 5px;
                border: none;
                height: 120px;
                resize: none;
                font-size: 20px;
            }

            .name-number {
                display: flex;
                gap: 15px;
            }
        }
    }
}

/* contacts starts */

/* starts footer  */
.footer {
    background-color: var(--secondary-background-color);
    padding: 50px;
    text-align: center;
    text-transform: capitalize;
}

/* ends footer  */
